<!DOCTYPE html>
<html>

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
  <script src="avatar.js"></script>
  <link rel="stylesheet" type="text/css" href="avatar.css">
  <meta charset="utf-8">
  <title>Add Your Slipper Account</title>
</head>

<body>

  <div ng-app='app' ng-controller='mainCtrl'>
    <h1 class="Intro">Slipper Accounts</h1>
    <div class="imageSection"></div>
    <div class="EntrySection">
      <form name='userForm' ng-submit='addNew(userForm)'>
        <input placeholder='Name' ng-model='userForm.name' />
        <input placeholder='Email' ng-model='userForm.email' />
        <input placeholder='Image Url' ng-model='userForm.url' />
        <button type='submit'>Add New</button>
      </form>

      <ul class="User-list">
        <li ng-repeat='user in users'>
          <avatar user='user' />
          <!--<div class='Avatar'>
          <img ng-src='{{user.avatarUrl}}' />
          <h4>{{user.name}}</h4>
        </div>!-->
        </li>
      </ul>
    </div>
  </div>
</body>

</html>
